---
import LinkButton from "./LinkButton.astro"
---

<section id="career" class="bg-background text-white px-4 py-48">
  <div class="max-w-screen-sm mx-auto text-center">
    <p class="font-bold text-2xl md:text-3xl mb-16">
      메이즈와 함께 모두가 누릴 수 있는 미래를<br class="hidden sm:block" /> 설계할
      분을 모십니다.
    </p>
    <LinkButton which="primary" to="#">채용 정보 확인하기</LinkButton>
  </div>
</section>
