<footer class="text-center p-4">
  <div class="text-gray-500">경기도 하남시 미사강변한강로 177 3층</div>
  <div class="text-gray-500">contact@a-maze.ai</div>
  <div class="font-bold">© 2022 MAZE Inc. All Rights Reserved.</div>
</footer>
