---
import PNGLogoWhite from "../assets/logo-white.png"
import PNGIconWhite from "../assets/icon-white.png"

const navItems = [
  { label: "소개", to: "#about" },
  { label: "보도자료", to: "#press" },
  { label: "프로젝트", to: "#project" },
  { label: "창업멤버", to: "#team" },
  { label: "채용", to: "#career" },
]
---

<nav class="bg-background fixed w-full top-0 pt-4 pb-6 px-4">
  <div class="max-w-screen-xl mx-auto flex items-end">
    <a href="#">
      <img
        class="hidden md:inline h-12 pr-4"
        src={PNGLogoWhite}
        alt="MAZE logo white"
      />
      <img
        class="md:hidden h-8 inline pr-4"
        src={PNGIconWhite}
        alt="MAZE icon white"
      />
    </a>
    <ul class="flex font-bold text-white items-end">
      {navItems.map(({ label, to }) => (
        <li>
          <a class="text-sm sm:text-base mx-2 sm:px-4 sm:py-2" href={to}>
            {label}
          </a>
        </li>
      ))}
    </ul>
  </div>
</nav>
