<section
  class="bg-splash-project bg-no-repeat bg-cover bg-center flex items-center h-[600px] md:h-[800px]"
>
  <div
    class="text-center text-white mx-auto px-4"
    style="text-shadow: 4px 4px 8px #333"
  >
    <h1
      class="font-bold leading-tight md:leading-snug text-4xl md:text-6xl mb-8"
    >
      MAZE의 첫 번째<br />프로젝트
    </h1>
  </div>
</section>
