---
import LinkButton from "./LinkButton.astro"
import PNGIconWhite from "../assets/icon-white.png"
import SVGUndrawConversation from "../assets/undraw_conversation_re_c26v.svg"
---

<section id="project" class="bg-primary-dark mx-auto text-white px-4 py-32">
  <header class="flex items-end justify-center pb-16">
    <img class="h-12 md:h-16" src={PNGIconWhite} alt="MAZE icon white" />
    <h2 class="text-2xl md:text-3xl font-bold">프로젝트</h2>
  </header>
  <main class="flex justify-center">
    <div class="p-8 border border-white rounded-lg max-w-screen-sm">
      <div class="flex justify-center">
        <img class="h-60 md:h-72 rounded mb-8" src={SVGUndrawConversation} />
      </div>
      <h3 class="text-xl md:text-2xl font-bold text-center mb-4">
        하남시 소상공 카페 상생 플랫폼
      </h3>
      <p class="mb-8">
        지역 중심의 체계적인 방문객 증대 전략으로 소규모 카페들이 대형
        프랜차이즈에 대응할 경쟁력을 확보하게끔 도와주는 통합 플랫폼 솔루션
      </p>
      <div class="text-center">
        <LinkButton to="#" className="mb-4">자세히 알아보기</LinkButton>
        <LinkButton to="#" which="secondary">가맹점 신청하기</LinkButton>
      </div>
    </div>
  </main>
</section>
