<section
  class="bg-splash bg-no-repeat bg-cover flex items-center h-[600px] md:h-[800px]"
>
  <div class="text-center text-white mx-auto px-4">
    <h1
      class="font-bold leading-tight md:leading-snug text-4xl md:text-6xl mb-8"
    >
      MAZE는<br />모두가 누릴 수 있는<br />미래를 만듭니다.
    </h1>
    <p class="text-xl">Architecting the future by AI, big data, and physics</p>
  </div>
</section>
