---
import MemberCard from "./MemberCard.astro"
import SVGUndrawMaleAvatar from "../assets/undraw_male_avatar_323b.svg"

const memberList = [
  {
    imgSrc: SVGUndrawMaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "송기선",
      title: "CEO",
      items: [
        "현대자동차 책임연구원",
        "Georgia Institute of Technology 박사",
        "서울대학교 학, 석사",
      ],
    },
  },
  {
    imgSrc: SVGUndrawMaleAvatar,
    imgAlt: "profile pic",
    member: {
      name: "천명철",
      title: "CMO",
      items: [
        "ICT융합기술평가위원",
        "Georgia Institute of Technology 석사",
        "한양대학교 학사",
      ],
    },
  },
]
---

<section id="team" class="bg-background text-white px-4 py-48">
  <header class="mb-8 text-center">
    <h2 class="text-2xl md:text-3xl font-bold">리더십</h2>
  </header>
  <div class="flex flex-col items-center">
    {memberList.map(({ imgSrc, imgAlt, member }) => (
      <MemberCard imgSrc={imgSrc} imgAlt={imgAlt} member={member} />
    ))}
  </div>
</section>
