---
import JPGValueImage from "../assets/matt-hudson-7d6nGlgYAhk-unsplash.jpg"
---

<section id="value" class="max-w-screen-lg mx-auto px-8 py-48 text-center">
  <h1
    class="inline-block text-gray-500 text-2xl md:text-3xl font-bold border-b border-gray-300 pb-8 mb-8"
  >
    핵심가치
  </h1>
  <h2 class="text-2xl md:text-3xl font-bold mb-4">
    기술에 대한 신뢰, 과학적인 현실 인식.
  </h2>
  <p class="max-w-screen-sm mx-auto mb-4">
    메이즈는 모두가 누리는 미래를 실현하는 가장 효율적인 전략으로서 ICT
    융합기술과 과학적 현실 인식을 추구합니다.
  </p>
  <img class="w-full" src={JPGValueImage} />
</section>
