---
import JPGVisionImage from "../assets/ben-griffiths-J1FBR-U0cGg-unsplash.jpg"
---

<section id="vision" class="max-w-screen-lg mx-auto px-8 py-48 text-center">
  <h1
    class="inline-block text-gray-500 text-2xl md:text-3xl font-bold border-b border-gray-300 pb-8 mb-8"
  >
    비전
  </h1>
  <h2 class="text-2xl md:text-3xl font-bold mb-4">
    모두가 누릴 수 있는 미래를 만듭니다.
  </h2>
  <p class="max-w-screen-sm mx-auto mb-4">
    바로 그런 미래를 위해 메이즈는 미로(MAZE)처럼 복잡하게 꼬여있는 이 세상의
    많은 문제들을 A-MAZE-ING하게 풀어나갑니다.
  </p>
  <img class="w-full" src={JPGVisionImage} />
</section>
