---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import PNGLogo from "../assets/logo.png"
import PNGIcon from "../assets/icon.png"

const { route = "/" } = Astro.props as { route?: "/" | "/about" | "/project" }
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MAZE | 미로같은 문제를 풀어내는 스타트업</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preload" as="image" href={PNGLogo} />
    <link rel="preload" as="image" href={PNGIcon} />
  </head>
  <body class="w-full min-h-screen flex flex-col">
    <Navbar active={route} />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
